.product_section {
  height: 90vh;
  background-color: #802f20;
}

.product_main {
  height: 100%;
  width: 90%;
  padding-top: 2rem;
  margin: auto;
}

.product_main__title {
  text-align: center;
  font-size: 7rem;
  text-transform: capitalize;
  width: fit-content;
  margin: auto;
  color: #e8e7cf;
}
